---
import BaseLayout from '../../../components/BaseLayout.astro'
---

<BaseLayout title="Demo" path="/jukette/demo/">
	<h2>Demo</h2>
	<jukette-player
		playlist-src="/jukette/demo-playlist.data.json"
		track-index="2"
		preload-metadata
		prefer-media-metadata
		show-source-link></jukette-player>
	<script>
		import 'jukette/auto'
		import '@remino/jukette-midi/auto'
		import '@remino/jukette-soundcloud/auto'
	</script>
</BaseLayout>
