---
import BaseLayout from '../../../components/BaseLayout.astro'
---

<BaseLayout title="Demo" path="/jukette/demo/">
	<h2>Demo</h2>
	<jukette-player playlist-open preload-metadata prefer-media-metadata>
		<jukette-track
			title="Afterlight"
			artist="Emil Rottmayer"
			src="https://soundcloud.com/emil-rottmayer/afterlight"
			preload></jukette-track>
		<jukette-track
			title="C-sharp arpeggiator"
			artist="Jukette"
			src="/jukette/demo-tone.mp3"></jukette-track>
		<jukette-track
			title="MIDI scale"
			artist="Jukette"
			src="/jukette/demo-scale.mid"
			type="midi"></jukette-track>
		<jukette-track
			title="SoundCloud URL"
			artist="SoundCloud"
			src="https://soundcloud.com/forss/flickermood"
			preload></jukette-track>
		<jukette-track
			title="Zen Zen"
			artist="Vincentaine"
			src="https://soundcloud.com/vincentaine/zenzen"></jukette-track>
		<jukette-track
			title="Oath"
			artist="T-120"
			src="https://soundcloud.com/t-120s/oath"></jukette-track>
		<jukette-track
			title="Madonna - Into The Groove (Louis La Roche Remix)"
			artist="Louis La Roche"
			src="https://soundcloud.com/iamlouislaroche/madonna-into-the-groove-louis-la-roche-remix"
		></jukette-track>
	</jukette-player>
</BaseLayout>
