---
import BaseLayout from '../../../components/BaseLayout.astro'
---

<BaseLayout title="Demo" path="/jukette/demo/">
	<h2>Demo</h2>
	<jukette-player playlist-open preload-metadata prefer-media-metadata>
		<jukette-track
			title="C-sharp arpeggiator"
			artist="Jukette"
			src="/jukette/demo-tone.mp3"
			preload></jukette-track>
		<jukette-track
			title="C-sharp arpeggiator reprise"
			artist="Jukette"
			src="/jukette/demo-tone.mp3"></jukette-track>
		<jukette-track
			title="MIDI scale"
			artist="Jukette"
			src="/jukette/demo-scale.mid"
			type="midi"></jukette-track>
		<jukette-track
			title="MIDI scale reprise"
			artist="Jukette"
			src="/jukette/demo-scale.mid"
			preload></jukette-track>
	</jukette-player>
</BaseLayout>
