---
import BaseLayout from '../../../components/BaseLayout.astro'
---

<BaseLayout title="Demo" path="/jukette/demo/">
	<h2>Demo</h2>
	<jukette-player playlist-open>
		<jukette-track
			title="Browser audio"
			artist="Jukette"
			src="/jukette/demo-tone.mp3"></jukette-track>
		<jukette-track
			title="SoundCloud URL"
			artist="SoundCloud"
			src="https://soundcloud.com/forss/flickermood"></jukette-track>
	</jukette-player>
</BaseLayout>
